<%- include("partials/head.ejs") %>
    <div class="bg-black">
        <h1>The Solar System</h1>
        <nav>
            <a href="/"> Home </a> 
            <a href="/nasa"> NASA PoD </a>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a class="active" href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
            <a href="/pluto"> Pluto </a>
        </nav>
    </div>
    <br>
    Distance from Sun: <%= planetJupiter.distanceFromSun %>
    <br>
    Year Length: <%= planetJupiter.yearLength %>
    <br>
    Planet Description: <%= planetJupiter.description %>
    <br>
    Planet Radius: <%= planetJupiter.radius %>
    <br>
    Planet Link: <a href="<%- planetJupiter.websiteLink %>"><%- planetJupiter.websiteLink %></a>
    <br>
    One Earth Day: <%= planetJupiter.oneEarthDay %>
    <br>
    Moons: <%= planetJupiter.moons %>
    <br>
    <img src="<%= planetJupiter.image %>"><br>
<%- include("partials/foot.ejs") %>