<%- include("partials/head.ejs") %>
    <div class="bg-black">
        <h1>The Solar System</h1>
        <nav>
            <a href="/"> Home </a> 
            <a href="/nasa"> NASA PoD </a>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a class="active" href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
            <a href="/pluto"> Pluto </a>
        </nav>
    </div>
    <br>
    Distance from Sun: <%= planetMars.distanceFromSun %>
    <br>
    Year Length: <%= planetMars.yearLength %>
    <br>
    Planet Description: <%= planetMars.description %>
    <br>
    Planet Radius: <%= planetMars.radius %>
    <br>
    Planet Link: <a href="<%- planetMars.websiteLink %>"><%- planetMars.websiteLink %></a>
    <br>
    One Earth Day: <%= planetMars.oneEarthDay %>
    <br>
    Moons: <%= planetMars.moons %>
    <br>
    <img src="<%= planetMars.image %>"><br>
<%- include("partials/foot.ejs") %>