<%- include("partials/head.ejs") %>
    <div class="bg-black">
        <h1>The Solar System</h1>
        <nav>
            <a href="/"> Home </a> 
            <a href="/nasa"> NASA PoD </a>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a class="active" href="/neptune"> Neptune </a>
            <a href="/pluto"> Pluto </a>
        </nav>
    </div>
    <br>
    Distance from Sun: <%= planetNeptune.distanceFromSun %>
    <br>
    Year Length: <%= planetNeptune.yearLength %>
    <br>
    Planet Description: <%= planetNeptune.description %>
    <br>
    Planet Radius: <%= planetNeptune.radius %>
    <br>
    Planet Link: <a href="<%- planetNeptune.websiteLink %>"><%- planetNeptune.websiteLink %></a>
    <br>
    One Earth Day: <%= planetNeptune.oneEarthDay %>
    <br>
    Moons: <%= planetNeptune.moons %>
    <br>
    <img src="<%= planetNeptune.image %>"><br>
<%- include("partials/foot.ejs") %>