<%- include("partials/head.ejs") %>
    <div class="bg-black">
        <h1>The Solar System</h1>
        <nav>
            <a href="/"> Home </a> 
            <a href="/nasa"> NASA PoD </a>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
            <a class="active" href="/pluto"> Pluto </a>
        </nav>
    </div>
    <br>
    Distance from Sun: <%= planetPluto.distanceFromSun %>
    <br>
    Year Length: <%= planetPluto.yearLength %>
    <br>
    Planet Description: <%= planetPluto.description %>
    <br>
    Planet Radius: <%= planetPluto.radius %>
    <br>
    Planet Link: <a href="<%- planetPluto.websiteLink %>"><%- planetPluto.websiteLink %></a>
    <br>
    One Earth Day: <%= planetPluto.oneEarthDay %>
    <br>
    Moons: <%= planetPluto.moons %>
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Pluto_in_True_Color_-_High-Res.jpg/1024px-Pluto_in_True_Color_-_High-Res.jpg"><br>
<%- include("partials/foot.ejs") %>